<!DOCTYPE html>
<html>
  <head>
    <title>Ribbit - A Treehouse Project</title>
  </head>

  <body>
  <h1>Hello world</h1>

  <div>
      <p>&copy; 2017 DudeWhatsMySpeed? - By Trish Griego</p>
    </div>
  </div>

  </body>
</html>
